.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  width: 100%;
  display: block; }

.nav-collapse a {
  background-color: transparent;
  display: block;
  text-align: center;
  padding: .7em 0; }

.nav-collapse a:hover, .nav-collapse a:focus {
  color: #FFCEA9; }

.js .nav-collapse {
  clip: transparent;
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: url(../images/hamburger.svg);
  width: 32px;
  height: 32px;
  float: left;
  /*hide text*/
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 6%; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  /*hide the hamburger*/
  .nav-toggle {
    display: none; }

  .nav-collapse {
    background: transparent; }

  /*bring back hamburger*/
  .nav-collapse ul {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    border-top: none; }

  .nav-collapse li {
    border-right: 0px solid #eeeeee; }

  .nav-collapse li:first-child {
    border-left: 0px solid #eeeeee; }

  .nav-collapse a {
    border-bottom: none; } }
body {
  background: url(../images/backtext.png);
  background-size: cover;
  color: #963205;
  margin: 0; }

header,
.container, .container2 {
  margin: 3em auto;
  width: 88%;
  max-width: 1080px; }

.we-need-you {
  border: 5px emboss black;
  background-image: url(../images/lionback6small.png);
  width: 100%;
  min-height: 233px;
  border-top: 5px solid black;
  background-repeat: no-repeat;
  background-position: center center; }

@media screen and (min-width: 415px) {
  .we-need-you {
    background-image: url(../images/lionback6.png);
    background-size: cover;
    min-height: 1080px; } }
.wrapper {
  background: #ffffff;
  padding: 0; }

header {
  font-weight: 500;
  font-style: bold;
  min-height: 100px; }

.logo {
  margin: 1em auto;
  display: block; }

@media screen and (min-width: 48em) {
  .logo {
    margin: 1em 1em 1em 3em; } }
.first {
  background: url(../images/filmstrip7.png);
  width: 100%;
  min-height: 140px;
  background-repeat: no-repeat;
  background-position: center center; }

.second {
  min-height: 600px;
  background: rgba(222, 212, 180, 0.2);
  margin: 5em 0 0 0;
  border-left: 10px solid #1d1911; }

.second h2 {
  font-size: 77px; }

.third {
  min-height: 500px;
  background: url(../images/donate.png);
  background-size: cover;
  margin: 5em 0 0 0;
  border-right: 10px solid #1d1911; }

.fourth {
  min-height: 300px;
  background-image: url(../images/vulture2.jpg);
  background-size: cover;
  background-position: 45% 45%;
  border-top: 10px solid black;
  border-bottom: 10px solid black; }

@media screen and (min-width: 900px) {
  .first {
    background: url(../images/filmstrip6.png);
    background-size: cover;
    min-height: 300px; }

  .second h2 {
    font-size: 100px; } }
@media screen and (min-width: 415px) {
  .container, .footprints, .container2 {
    display: flex;
    justify-content: center; }

  .second {
    width: 60%; }

  .third {
    width: 40%; }

  .fourth {
    width: 60%; } }
.footprints {
  width: 96.6%;
  height: 100px;
  position: relative;
  background: #1d1911;
  overflow: hidden;
  padding: 1em; }

.pawprints {
  background: url(../images/paws3.png);
  width: 100%;
  min-height: 100px; }

.cover {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background: #1d1911;
  padding: 1em; }

body {
  font-size: 20px;
  font-family: Helvetica, sans-serif; }

h2 {
  color: #860926;
  font-size: 100px;
  font-family: impact;
  text-align: center; }

p {
  font-size: 24px;
  font-family: helvetica;
  color: orange;
  text-align: center;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.5); }

u {
  color: #860926; }

h3 {
  color: #860926;
  font-size: 30px;
  font-family: impact;
  text-align: center;
  position: relative;
  top: 0; }

.don {
  position: relative;
  bottom: 0;
  margin-top: 2em;
  color: #860926;
  font-size: 50px;
  font-family: impact;
  display: flex;
  justify-content: center; }

@media screen and (min-width: 48em) {
  .don {
    font-size: 100px; }

  h3 {
    font-size: 50px; } }
a {
  color: orange;
  text-decoration: none; }

a:hover {
  color: #ffb733; }

.input {
  display: block;
  justify-content: space-between;
  margin: 2em 0 0 0;
  padding: 2em 0 0 0;
  bottom: 6%;
  left: 0; }

.social-channels {
  list-style: none;
  /*getting rid of bullet pnts*/
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.social-channels li {
  padding: .5em;
  margin: .5em; }

.social-channels a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  transition: .2s;
  /*HideText*/
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  bottom: 6%;
  left: 0; }

.social-channels a:hover {
  opacity: .7; }

.facebook {
  background-image: url(../images/facebook.png); }

.twitter {
  background-image: url(../images/twitter.png); }

.youtube {
  background-image: url(../images/youtube.png); }

.googleplus {
  background-image: url(../images/google.png); }

.instagram {
  background-image: url(../images/instagram.png); }

/* Walk
------------------------------------------*/
.cover {
  animation: walk 6s steps(6, end) forwards; }

.is-paused {
  animation-play-state: paused; }

@keyframes walk {
  to {
    transform: translateX(1920px); } }

/*# sourceMappingURL=styles.css.map */
