$background-color: rgb(100, 87, 71);
$color-text: rgb(150, 50, 5);
$font-sans-serif: Helvetica, sans-serif;
$color-link: orange;
$color-link-hover: lighten( $color-link, 10%);
$color-link-visted: darken( $color-link, 10%);
